div.masthead {
    text-align: center;
    color: white;
    background-image: url("../../../../assets/cliente/fondo.jpg"); 
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }

  div.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
  }
  
  div.masthead .intro-text .intro-lead-in {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
 }
  
  div.masthead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
  }

  @media (min-width: 768px) {
    div.masthead .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
    }
    div.masthead .intro-text .intro-lead-in {
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 25px;
 }
    div.masthead .intro-text .intro-heading {
      font-size: 75px;
      font-weight: 700;
      line-height: 75px;
      margin-bottom: 50px;
  }
  }